#game{
  margin: auto;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  display: flex;
}

#game div{
  /* display: inline-block; */
  background-color: gray;
}

.card{
  border: 1px solid black;
  width: 15%;
  height: 120px;
  margin: 10px;
}

h1{
  text-align: center;
}

h3{
  text-align: center;
}

body{
  background-color: antiquewhite;
}